# Default ignored files
/../../gennpi-v1.1./.idea/shelf/
/../../gennpi-v1.1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../gennpi-v1.1./.idea/httpRequests/
# Datasource local storage ignored files
/../../gennpi-v1.1./.idea/dataSources/
/../../gennpi-v1.1./.idea/dataSources.local.xml
